* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  text-align: center;
  background-color: bisque;
}

h1 {
  font-size: 50px;
  margin-top: 8%;
}

h3 {
  margin-top: 35px;
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

.modes__text {
  font-size: 20px;
  padding: 16px 20px;
  text-decoration: none;
  background-color: black;
  color: white;
}

.modes__text:hover {
  text-decoration: underline;
}

#html {
  font-size: 30px;
  color: #dd4b25;
}

#css {
  font-size: 30px;
  color: #0070ba;
}

#js {
  font-size: 30px;
  color: #63a814;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

a {
  color: black;
  text-decoration: none;
}