html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#editor {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#container {
  height: 100%;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

#iframe {
  height: 100%;
  display: inline-block;
  width: 50%;
}

.helpbar {
  margin: 0;
}

/* disable tag matching */
.ace_editor .ace_marker-layer .ace_bracket {
  display: none;
}
.helpbar {
  background-color: slategrey;
}
.helpbar__button {
  color: black;
  font-family: cursive;
  margin: 0 5px;
  font-size: 20px;
  text-decoration: none;
}
.helpbar__button:hover {
  text-decoration: underline white;
}

.sidenav {
  font-family:serif;
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav {
  right: 0;
}