html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#editor {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#container {
  height: 100%;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

#iframe {
  height: 100%;
  display: inline-block;
  width: 50%;
}

/* disable tag matching */
.ace_editor .ace_marker-layer .ace_bracket {
  display: none;
}
